
@{
    ViewBag.Title = "User";
}

<h2>User</h2>
<br />
@Html.ActionLink("Activity", "GetActivityProducts", "Activity")
<br />
<br />
@Html.ActionLink("Air", "GetAirProducts", "Air")
<br />
<br />
@Html.ActionLink("Car", "Car")
<br />
<br />
@Html.ActionLink("Hotel", "Hotel")

