
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<br />
@Html.ActionLink("Activity", "AddActivityProduct", "Activity")
<br />
<br />
@Html.ActionLink("Air", "AddAirProduct", "Air")
<br />
<br />
@Html.ActionLink("Car", "Car")
<br />
<br />
@Html.ActionLink("Hotel", "Hotel")




